<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tj.bigdata.analysis.mapper.ContractBalanceMapper">

    <select id="oneOldestPoint" resultType="com.tj.bigdata.analysis.pojo.ContractBalancePo">
                SELECT contract,balance,record_time
                FROM contract_balance
                WHERE contract = #{contract}
                ORDER BY 'record_time' ASC
                LIMIT 1
    </select>
    <select id="contractNum" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM contract_balance WHERE contract = #{contract}
    </select>
    <select id="oneLatestPoint" resultType="com.tj.bigdata.analysis.pojo.ContractBalancePo">
                        SELECT contract,balance,record_time
                FROM contract_balance
                WHERE contract = #{contract}
                ORDER BY 'record_time' DESC
                LIMIT 1
    </select>
    <select id="maxNumberFromDb" resultType="java.math.BigInteger">
        SELECT max(block_number)
        FROM contract_balance
    </select>
</mapper>